* {
    padding: 0;
    margin: 0;
}

.header {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: rgb(178, 177, 177);
    background-color: rgb(23, 23, 21);

}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.logo-text {
    color: #E55473;

}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 20px;
    padding: 15px;
}

/* banner section design */
.banner-container {
    background-color: #E554731A;

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    gap: 100px;
}

.banner-img {
    position: bottom right;

}

.ban-pic {
    margin-top: 50px;
    margin-bottom: 0px;
}

.banner-text {}

.banner-head {
    color: #272727;
    font-size: 40px;
    font-weight: bold;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    padding: 20px 0;
}

.banner-button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    gap: 10px;
    border: none;
}

/* feature section */

.feature-container {}
.feature-text{
    text-align: center;
    padding: 25px;
}

.feature-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 25px;


}

.img-box {
    position: relative;

    width: 24%;
    height: 350px;
    text-align: center;
    margin-bottom: 0px;
}
.img-box a{
   padding: 20px 0 0;
   color: black;
   margin-bottom: 10px;
}
.img-fea1 {
    width: 100%;
    height: 300PX;
    margin-bottom: 25px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.img-fea2 {
    width: 100%;
    height: 300PX;
    margin-bottom: 25px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.img-fea3 {
    width: 100%;
    height: 300PX;
    margin-bottom: 25px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

/* deals section */

.deals-container {
    background-color: #E554731A;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    gap: 100px;
}

.deals-img {
    position: bottom right;
    margin-bottom: 0px;
    padding: 0px 0;

}

.deals-text {
    text-align: center;
}

.deals-pic {
    width: 240px;
    height: 300px;

    margin: 100px 0;

}

.deals-head {
    color: #272727;
    font-size: 20px;
    font-weight: bold;
}

.deals-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    padding: 10px 0;
}

.deals-button {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 21px;
    color: white;
    gap: 10px;
    border: none;
}

/* social section */
.social-container {
    width: 80%;
    margin: 0 auto;
}

.social-text {
    color: #272727;
    text-align: center;
    margin-top: 100px;
}

.social-head {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 800;

}

.social-des {
    padding: 10px 0;
    font-size: 16px;
    color: rgb(155, 150, 150);
}

.social-images {
    display: flex;


}

.img {
    width: 24%;
    margin: 0 auto;
    gap: 10px;
    padding: 20px 0px;

}

.img1 {}

.social-bg {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 100px;


}

.social-bg h4 {
    padding: 120px 0 5px 0;
    font-size: 20px;
    font-weight: 800;
}

.social-bg p {
    font-size: 16px;
    color: rgba(39, 39, 39, 0.60);
}

.social-bg input {
    margin: 15px;
    padding: 22px 250px 22px 22px;
    border-radius: 5px;
    border: none;
}

/* footer  */
.footer-container {
    background: #111010;
    text-align: center;
    padding: 100px 400px;
    color: white;

}

.footer-container p {
    color: rgba(255, 255, 255, 0.90);

    font-size: 16px;
    padding: 20px;
}

.footer-container>p small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}